<!DOCTYPE html>
<link href="~/Content/custom.css" rel="stylesheet" />
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <li>
    <a href="#">
        <i class="fa fa-user fa-lg"></i> Profile
    </a>
    </li>
    <div class="nav-side-menu">
        <div class="brand">Brand Logo</div>
        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

        <div class="menu-list">

            <ul id="menu-content" class="menu-content collapse out">
                <li>
                    <a href="~/Admin/Index">
                        <i class="fa fa-dashboard fa-lg"></i> Dashboard
                    </a>
                </li>
                <li data-toggle="collapse" data-target="#products" class="collapsed active">
                    <a href="~/Admin/Create"><i class="fa fa-gift fa-lg"></i>Create Employess <span class="arrow"></span></a>
                </li>
                

                <li data-toggle="collapse" data-target="#service" class="collapsed">
                    <a href="~/Admin/Manage"><i class="fa fa-globe fa-lg"></i> Manage Employess <span class="arrow"></span></a>
                </li>
                

                <li data-toggle="collapse" data-target="#new" class="collapsed">
                    <a href="#"><i class="fa fa-car fa-lg"></i> New <span class="arrow"></span></a>
                </li>
               

                <li>
                <li>
                    <a href="#">
                        <i class="fa fa-users fa-lg"></i> Users
                    </a>
                </li>
            </ul>
        </div>
    </div>


    <div class="container body-content">
        @RenderBody()
     
      
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
