@model Employee_Managment.Models.empDetail

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (@Html.BeginForm())
{
<div class="container">
    <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-4">
            <label>Name</label>
            @Html.TextBoxFor(u => u.name, new { @class = "form-control", @required = "required", @placeholder = "Name" })
        </div>
        <div class="col-lg-4">
            <label>Phone No</label>
            @Html.TextBoxFor(u => u.phoneNo, new { @class = "form-control", @required = "required", @placeholder = "Phone No" })
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-4" >
            <label>Email ID</label>
            @Html.TextBoxFor(u => u.email, new { @class = "form-control", @required = "required", @placeholder = "Email ID" })
        </div>
        <div class="col-lg-4">
            <label>D.O.B</label>
            @Html.TextBoxFor(u => u.dob, new { @class = "form-control", @required = "required", @type = "date", @placeholder = "D.O.B" })
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-4">
            <label>Department</label>
            @Html.TextBoxFor(u => u.department, new { @class = "form-control", @required = "required", @placeholder = "Department" })
        </div>
        <div class="col-lg-4">
            <label>Hire Date</label>
            @Html.TextBoxFor(u => u.hiredate, new { @class = "form-control", @required = "required", @type = "date", @placeholder = "Hire Date" })
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-4">
            <label>Salary</label>
            @Html.TextBoxFor(u => u.salary, new { @class = "form-control", @required = "required", @placeholder = "Salary" })
        </div>


    </div>
    <br/>
    <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-8">
            <input type="submit" value="Save" class=" btn btn-success" />&nbsp;&nbsp;<label style="color:red;">@ViewData["msg"]</label>
        </div>

    </div>

</div>
}